.mat-toolbar {
    display: none;
}
.start {
    color: #fff;
    background-color: #3f51b5;
    height: 100%;
    padding: 64px 32px;
}
mat-form-field {
    width: 100%;
}
.changeFormButton {
    margin-top: 16px;
}
.submitButton {
    clear: both;
    float: right;
    margin-top: 16px;
}